
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="inicio" href="#">Home Service</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="inicio" routerLinkActive="active" href="#">Inicio</a>
          <a class="nav-link" routerLink="servicios" routerLinkActive="active" href="#">Servicios</a>
          <a class="nav-link" routerLink="galeria" routerLinkActive="active" href="#">Galeria</a>
          <a class="nav-link" routerLink="contactos" routerLinkActive="active" href="#">Contactos</a> <!--href detecta que es un enlace-->
        </div>
      </div>
    </div>
  </nav>


  <!--ng serve --open es para abrir la pagina web-->

 