.card-group{
    width: 70%;
    height: 15%;
    margin: auto; /*centra las cards*/

}
.seccion-cards{
    width: 100%;
    height: 700px;
    background-color: #fdfbf4; /*color de fondo*/
    text-align: center; /*centrado de titulo de cards*/
}
.seccion-cards h3{ /*separa "serviciosofrecidos" del hero*/
    padding-top:25px;
}
.card{
    justify-content: space-around;
}
