<section id= "servicios" class="seccion-cards">
  <!--el id se coloca para enlazar con sevicios del nav-->
  <h3>Servicios ofrecidos</h3>
  <div class="card-group">
    <div class="card">
      <img src="assets/img/iconos/garantia.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GARANTIAS</h5>
        <p class="card-text">Los servicios de la plataforma cuentan con garantía de los técnicos</p>
      </div>
      <div class="card-footer">
      <!--<small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
    <div class="card">
      <img src="assets/img/iconos/rapidez.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RAPIDEZ</h5>
        <p class="card-text">Reservá un turno al instante de acuerdo a tu disponibilidad y necesidad</p>
      </div>
      <div class="card-footer">
    <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
    <div class="card">
      <img src="assets/img/iconos/seguridad.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SEGURIDAD</h5>
        <p class="card-text">Contrata tecnicos verificados y matriculados y paga en conformidad</p>
      </div>
      <div class="card-footer">
<!--<small class="text-muted">Last updated 3 mins ago</small> -->
      </div>
    </div>
  </div>
</section>