<section id="galeria" class="container">
    <div class="text-center pt-5">
      <h1>Servicios ofrecidos</h1>
      
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/carpintero.jpg" alt="Galeria imagen">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/electricista.jpg" alt="Galeria imagen">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/gasista.jpg" alt="Galeria imagen">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/jardiner.jpg" alt="Galeria imagen">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/limpieza.jpg" alt="Galeria imagen">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="assets/img/plomeria.jpg" alt="Galeria imagen">
      </div>
    </div>
</section>