<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning">HOME SERVICE</h4>
            </div>
            <div class="col-md-2 col-lg-2 col-xl mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning">Sobre Nosotros</h4>
                <p>Nos especializamos en la búsqueda de la opción más cercana y disponible
                    para satisfacer tus necesidades mientras te proveemos seguridad a través
                    de la verificación de la matrícula, experiencia y profesionalización de cada prestador.</p>

            </div>

            <div class="col-md-3 col-lg-2 col-x1-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                <p>
                    <i class="fas fa-home mr-3"></i> San Juan
                </p>
                <p>
                    <i class="fas fa-evelope mr-3"></i>victoriaolivera1998@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i>264525282
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> 2645201569
                </p>

            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>© 2021 Home Service -Todos los derechos reservados
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Home Service</strong>
                        </a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-facebook"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-twitter"></i> </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                        class="fab fa-instagram"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>