<form class="text-uppercase mb-4 font-weight-bold text-warning  ">
    <section class="formulario">
        <h2>Contactanos</h2>
        <form class="row g-3">

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Nombre y Apellido</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Direccón</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Indicaciones</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Código Postal</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">Departamento </label>
                <select id="inputState" class="form-select">
                    <option selected>Capital</option>
                    <option> Rivadavia</option>
                    <option>Santa Lucía</option>
                    <option>Chimbas</option>
                    <option>Rawson</option>
                    <option>Pocito</option>

                </select>
            </div>
            <div class="col-md-4">
                <label for="inputZip" class="form-label">Número de teléfono</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Urgencia
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </section>
</form>